<!DOCTYPE html>
<html>
<head>
  <title><%= title %> | <%= description %></title>
  <meta charset="UTF-8">
  <meta name="description" content="<%= description %>">
  <meta name="keywords" content="<%= keywords %>">
  <meta name="author" content="<%= author %>">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="leaflet/dist/leaflet.css" />
  <link rel="stylesheet" href="sidebar-v2/css/leaflet-sidebar.min.css" />
  <link rel="stylesheet" href="octicons/build/font/octicons.min.css" />
  <link rel="stylesheet" href="leaflet.awesome-markers/leaflet.awesome-markers.css" />
  <link rel="stylesheet" href="toastr/toastr.min.css" />
</head>
<body>
<div class="header">
  <a id="heading" href="<%- homepage %>"><%= heading %></a>
  <a href="#" title="<%= popoverHeader %>" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="<%= popoverContent %>">
    <span class="glyphicon glyphicon-question-sign"></span>
  </a>
  <div id="input" class="col-sm-4">
    <div class="input-group">
      <input id="domainName" name="domainName" type="text" class="form-control input-sm" placeholder="<%= domainInputPlaceholder %>" autofocus="autofocus">
      <span class="input-group-btn">
        <button id="submit" class="btn btn-default btn-sm" type="submit"><%= traceButtonText %></button>
      </span>
    </div>
  </div>
  <a id="github" href="<%= githubRepository %>">
    <span class="hidden-xs"><%= githubLinkText %></span>
    <span class="octicon octicon-mark-github" aria-hidden="true"></span>
  </a>
</div>
<div class="maincontainer">
  <div id="map" class="map leaflet-container leaflet-fade-anim leaflet-grab"></div>
  <div id="sidebar" class="sidebar collapsed">
    <div class="sidebar-tabs">
      <ul role="tablist">
        <li><a href="#hopsPane" role="tab"><i class="glyphicon glyphicon-menu-hamburger"></i></a></li>
      </ul>
    </div>
    <div class="sidebar-content">
      <div class="sidebar-pane" id="hopsPane">
        <h1 class="sidebar-header">
          <%= hopsTableHeader %>
          <span class="sidebar-close"><i class="glyphicon glyphicon-menu-right"></i></span>
        </h1>
        <table id="hopsTable" class="table table-striped table-hover"></table>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div id="footerinfo">
    <span id="copyright">© <%= year %> <%= title %></span>
    <span id="disclaimer"><%- disclaimer %></span>
  </div>
</div>
<script src="javascripts/dependencies.min.js"></script>
<script src="javascripts/scripts.min.js"></script>
</body>
</html>
